/*
Colors used

Primary Color (Orange): #ffc371;
Secondary Color (Red): #f14d39;
 */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a {
  color: #05676e;
  text-decoration:none;
}
a:hover {
  color: #000000;
}
a:active {
  /* selected link */
  color: #489c79;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: #ff4500;
  font-size: 30px;
}
.logo:hover {
  color: #4682b4;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */
  display:inline-block;
  /* style button */
  background-color: #05676e;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  margin: 20px 0;
  border-radius: 3px;
  border-bottom: 2px solid #03474c; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover{
  cursor:pointer;
  opacity:0.6;
}
